body {
  background-color: rgb(244, 247, 250);
}

.active {
  background-color: black;
}

.activePage {
  background-color: rgb(65, 22, 158);
  color: white;
}
table {
  margin: 2rem 1rem;
  border-collapse: collapse;
  border: 1px solid grey;
}
tr {
  border-bottom: 1px solid lightgrey;
}

td,
thead {
  padding: 1rem;
}

thead {
  font-size: 1.2rem;
  font-weight: 600;
}

.selectedRow {
  background-color: #fa9898;
}

h1 {
  margin-left: 2rem;
}

.searchBox {
  border-radius: 0.2rem;
  height: 2rem;
  margin: 0 1rem 0 2rem;
}

#search,
#reset {
  height: 2rem;
  width: 5rem;
  margin-right: 1rem;
  background-color: lightcyan;
  border: 1px solid blue;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}

#search:hover {
  background-color: cyan;
}
#reset:hover {
  background-color: cyan;
}

.deleteSelectedContainer {
  display: inline-block;
}
.deleteSelected {
  height: 2rem;
  width: 8rem;
  margin-right: 1rem;
  background-color: #fa9898;
  border: 1px solid maroon;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.deleteSelected:hover {
  background-color: red;
}

.pages {
  margin: 0 3rem;
}

#page {
  margin: 0 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: large;
}

.pageNavButtons {
  margin: 1rem 2rem 5rem 0;
}

.pageNavButtons button {
  width: 5rem;
  height: 2rem;
  margin: 0 2rem;
  font-weight: bold;
  border: 1px solid blue;
  background-color: lightcyan;
  cursor: pointer;
}

.pageNavButtons button:hover {
  background-color: cyan;
}

button {
  cursor: pointer;
}

.deleteButton {
  border: none;
  background-color: rgb(244, 247, 250);
  margin-left: 10px;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: black;
}
